.authPage {
    background: rgb(182,99,55);
    background: linear-gradient(90deg, rgba(182,99,55,1) 0%, rgb(155, 85, 47) 50%, rgba(182,99,55,1) 100%);
    border-radius: 8px;
    width: 66vw;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 input {
    display: flex;
 }

 .formChange {
    cursor:pointer;
    padding: 1vmin;
    color: rgb(255, 206, 142);
    border: 1px solid;
    border-radius: 4px;
 }

 .formChange:hover {

    color: #F67F00;
    background-color: rgb(255, 206, 142);

 }