.recipeScreen{
    height: 100%;
    display: flex;
    font-size: calc(10px + 1vmin);
    color: black;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.ingredientList{
    display: inline;
}

.recipeSummary{
    display: inline;
}