.favPage {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}
.favElement{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 33vw;
    background-color: #a8754e;
    border-radius: 4px;
}

.favElement h4{
    width: 100%;
}
.favImg{
    width: 15vw;
    height: 15vh;
    border-radius: 4px 0px 0px 4px;
}